<%- partial('_partial/head') %>
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<body>
  <a href="https://github.com/vgnaw">
    <img class="corner"
      src="https://vinsonblog.oss-cn-hangzhou.aliyuncs.com/img/%20githubcorner.png" alt="Fork me on GitHub">
  </a>

  <i class="fa fa-hand-o-up fa-2x" aria-hidden="true"></i> 
  <div class="wrapper">
    <%- partial('_partial/header') %>
    <div class="content"><%- body %></div>
  </div>
  <footer id="footer"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after-footer') %>

  <script type="text/javascript">
    var search_path = "<%= config.search.path %>";
    if (search_path.length == 0) {
      search_path = "search.xml";
    }
    var path = "<%= config.root %>" + search_path;
    searchFunc(path, 'local-search-input', 'local-search-result');
  </script>
</body>

</html>